.App {
    font-size: 30px;
    color: #ff0051b5;
    white-space: pre-wrap;
    text-align: center;
    .img {
        width: 50vw;
    }
    h1, h2 {
        padding: 30px;
    }
    dd {
        display: inline;
        transform: translateY(0px);
    }
}